.container {
  margin: 40px;
  margin-bottom: 20px;
  text-align: center;
}

.items-container{
  display: flex;
  justify-content:center;
}

.btn-outline-success{
  min-width: 80px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  color: #4ef600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  letter-spacing: 1px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  &:hover{
    background-color: #1eff00;
  }
  &:focus{
    outline: none;
  }
}

.btn-outline-danger{
  min-width: 80px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
  color: #ff0000;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  letter-spacing: 1px;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  &:hover{
    background-color: #ff0000;
  }
  &:focus{
    outline: none;
  }
}

.row{
  margin: 10px 5px;
}


.form-control{
  text-align: center;
  width: 100%;
}